@media screen and (min-width: 1024px){


    .hero-image img{
        height: 470px;
        object-fit: cover;
    }

    .hero-special{
        margin: 136px;
        top: 140px;
        left: 800px;
    }

    .hero-call{
        display: none;
    }

    .api{
        padding-top: 20px;
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .forecast{
        grid-column: 2/3;
    }
    .weather{
        grid-column: 2/3;
    }

    .text-home{
        display: flex;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 24px;
        padding-left: 20px;
        line-height: 1.4em;
    }

    .forecast img{
        width: 14%;
    }

    .weather img{
        width: 14%;
    }

    th, td{
        font-size: x-large;
    }

    .rent-button{
        font-size: x-large;
    }
}

