body{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: #14213D;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50%;
}

header h1{
    color: white;
    font-size: 20px;
    padding-left: 40px;
    align-self: center;
}

header img {
    width: 50px;
    padding: 5px 5px;
}

#menu{
    position: absolute;
    border: none;
    padding: 10px;
    background-color: #14213D;
    font-size: 30px;
    color: #fff;
    top: 0;
    right: 0;
}

#menu::before{
    content: "≡";
}

#menu.open::before{
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover{
    color: #14213D;
    background-color: rgba(255, 255, 255, 0.8);
}

.open a{
    display: block;
}

.active::before{
    content: "◽";
}
.active::after{
    content: "◽";
}

main h2{
    text-align: center;
    border-bottom: solid #14213D;
    border-bottom-width: 0.5px;
    font-size: 16px;
}

.card{

    margin: 20px;
    border-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card h3{
    text-align: center;
    background-color: #14213D;
    border: solid grey;
    border-bottom: 0px;
    border-width: 1px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 15px 15px;
}

.card a{
    color: blue;
    text-decoration: none;
}
.card li{
    padding-bottom: 12px;
}
.card ul {
    list-style-type: none;
  }

  .card p{
    text-align: center;
  }

  .map{
    text-align-last: center;
    padding-bottom: 30px;
}


  footer{
    background-color: #14213D;
    padding: 25px 25px;
  }

  .flag{
    width: 10%;
    padding-left: 10px;
  }

  footer p{
    text-align: center;
    color: white;
  }