*{
    font-family: "Raleway", sans-serif;
}

header{
    background-color: #264653;
    display: flex;
}

.logo{
    width: 50px;
    display: inline-flex;
}
header h1{
    display: inline-flex;
    font-size: 15px;
    color: white;
    vertical-align: top;
}

.switch-button{
    
    align-self: center;
    padding-left: 2%;
}

#menu{
    position: absolute;
    border: none;
    padding: 10px;
    background-color: #264653;
    font-size: 30px;
    color: #fff;
    top: 0;
    right: 0;
}

#menu::before{
    content: "≡";
}

#menu.open::before{
    content: "✖";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: black;
    color: #fff;
}

.navigation a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover{
    color: #14213D;
    background-color: rgba(255, 255, 255, 0.8);
}

.open a{
    display: block;
}

.navigation .active{
    color: #f0dda8;
    font-weight: bold;
}

.hero img{
    width: 100%;
}

footer{
    background-color: #264653;
    color: white;
    text-align-last: center;
    display: flex;
}

.flag{
    width: 2%;
  }










  .card{

    margin: 20px;
    border-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card h3{
    text-align: center;
    background-color: #E9C46A;
    border: solid #1a3947;
    border-bottom: 0px;
    border-width: 1px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #1a3947;
    font-size: 18px;
    padding: 15px 15px;
}

.card a{
    color: blue;
    text-decoration: none;
}
.card li{
    padding-bottom: 12px;
}
.card ul {
    list-style-type: none;
  }

  .card p{
    text-align: center;
  }
