* {
  font-family: "Raleway", sans-serif;
}

:root{
  --font: "Raleway", sans-serif;
  --sec-color: #e9c46a;
}

body{
    background-color: rgb(238, 238, 238);;
}

header {
  background-color: #264653;
  display: flex;
}

.logo {
  width: 50px;
  display: inline-flex;
}
header h1 {
  display: inline-flex;
  font-size: 15px;
  color: white;
  vertical-align: top;
}

.switch-button {
  align-self: center;
  padding-left: 2%;
}

.cta{
  display: flex;
}

#menu {
  position: absolute;
  border: none;
  padding: 10px;
  background-color: #264653;
  font-size: 30px;
  color: #fff;
  top: 0;
  right: 0;
}

#menu::before {
  content: "≡";
}

#menu.open::before {
  content: "✖";
}

#visit-message{
  font-weight: bold;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: black;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation a:hover {
  color: #14213d;
  background-color: rgba(255, 255, 255, 0.8);
}

.open a {
  display: block;
}

.navigation .active {
  color: #f0dda8;
  font-weight: bold;
}

/* The switch tests */


.switch {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 47px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e9c46a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e9c46a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* The switch tests */

.hero-image img{
    width: 100%;

}

main{
    display: block;
}

.hero-label{
  position: absolute;
  top: 210px;
  left: 20px;
  background-color: #f6feff88;
  color: #14213d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
}

.hero-label a{
  display: none;
}

.event-label {
  position: absolute;
  top: 624px;
  left: 35px;
  color: #14213d;
  background-color: rgb(233, 196, 106, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;

}

iframe{
  width: 95%;
  height: auto;
}

.card-weather,
.card-events,
.card-company {
    background-color: #fff;
    border-radius: 20px;
  margin: 20px;
  border-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-weather h3,
.card-events h3,
.card-company h3 {


  text-align: center;
  background-color: #e9c46a;

  border-bottom: 0px;
  border-width: 1px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #1a3947;
  font-size: 18px;
  padding: 15px 15px;
  margin-top: 18px;
}

.dayDate{
  padding: 15px 15px;
  text-align: center;
  background-color: #e9c46a;
  color: #1a3947;
}

.forecast{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.div-weather{ 
  grid-column: 2;
  display: block; 
  justify-content: center;
  align-items: center;
}

.threeDays{
  grid-column: 1;
  grid-row: 1;
}

.card-weather a,
.card-events a,
.card-company a {
  color: blue;
  text-decoration: none;
}
.card-weather li,
.card-events li,
.card-company li {
  padding-bottom: 12px;
}
.card-weather ul,
.card-events ul,
.card-company ul {
  list-style-type: none;
}

.card-weather p,
.card-events p,
.card-company p {
  text-align: center;
}

.body-weather{
  display: grid;
}

.body-weather input{
  justify-self: center;
}

input[type=number] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#calculate{
  margin-top: 10px;
  justify-self: center;
}



.mobile-spotlight{
    justify-content: center;
    display: flex;
}

.VOFTM img{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 98%;
}

.Event img{
  width: 99%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-company p{
  text-align: left;
  padding: 10px;
}




footer {
  background-color: #264653;
  color: white;
  text-align-last: center;
  display: flex;
}

.flag {
  width: 2%;
}






/* Discovery page */

.discover-main{
  display: grid;
  grid-template-columns: .5fr 1fr;
}

.sidebar{
  grid-column: 1/2;
}

.middle{
  grid-column: 2/3;
  width: 100%;
}

.middle img{
  max-width: 50%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Allow the height to adjust proportionally based on the width */
}

.side{
  margin: 50px;
}

/* Forms 👇 */

.form-main{
  display: block;
}

form {
	margin: 60px;
	display: flex;
	flex-direction: column;
	position: relative;
}

textarea{
 text-align: left; 
 font-size: small;
 color: gray;
}

button {
  align-items: center;
  background-color: #264653;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font);
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s, color 0.167s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


button:hover,
button:focus { 
background-color: #b40909;
color: #ffffff;
}

button:active {
background: #0c80ae;
color: rgb(255, 255, 255, .7);
}

button:disabled { 
cursor: not-allowed;
background: rgba(0, 0, 0, .08);
color: rgba(0, 0, 0, .3);
}

.thankmsg{
  margin: 30px;
}


.company{
  display: block;
  text-align: center;
  margin: 30px;
  padding: 20px;

  background-color: #264653;
  border-radius: 20px;

  color: #fff;
}

.company img{
  width: 255px;
  height: 255px;

  border-radius: 16px;
}


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid div {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid div > * {
	margin: 0.1rem;
}



.list {
	display: flex;
	flex-direction: column;
}

.list main{
	display: flex;
	flex-direction: column;
}

.list div {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
  border-radius: 0%;

  align-items: center;
}

.list div > * {
	margin: 0 1rem;
}

.list div img {
	display: none; /* smaller viewports only */
}

.list div h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list div:nth-child(2n+1) {
	background-color: #e9c46a;
  color: #14213d;
  border-radius: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.menu{
  text-align-last: center;
  margin: 20px;
}

/* discovery page */

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    padding: 20px;
  }

  /* Sidebar */
  .sidebar {
    background-color: #f0f0f0;
    padding: 10px;
  }

  /* Main Content */
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .main-content img {
    width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .sidebar{
    background-color: #e9c46a;
    border-bottom: 0px;
    border-width: 1px;
    border-radius: 10px;
    color: #1a3947;
    font-size: 18px;
    padding: 15px 15px;
    margin-top: 18px;
  }

  @media (max-width: 768px) {
    /* Mobile View - Single Column Layout */
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
