@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-events {
    grid-column: 1/3;
    grid-row: 1;
  }

  .card-weather {
    grid-column: 3/4;
    grid-row: 1;
  }


  .spotlights-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-company{
    grid-row: 1;
  }

  .mobile-spotlight{
    display: none;
  }

  .hero-image img{
    width: 100%;

}

.card-weather h3,
.card-events h3,
.card-company h3{
        position: relative;
        top: -20px;
}

.main-content img{
	-webkit-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.main-content img:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Forms 👇 */

.form-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form{
  grid-column: 1;
}

.membership{
  align-self: center;
}

.np {
  margin:20px;
  background-color: #264653;
  padding: 20px;
  border-radius: 15px;
  color: #fff;

}



}
