@media screen and (min-width: 768px){



        header {
                background-color: #264653;
                display: grid;
                /* grid-template-rows: 1fr; */
            }

        .name-logo{
            grid-row: 1;
            margin: 0.5rem;
        }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        justify-self: center;
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        background-color: #264653;
        color: #fff;
        vertical-align: top;
        grid-row: 1;
	}

	.navigation a {
        display: flex;

	}
        .mobile-spotlight{
                display: none;
              }

        .switch{
                grid-row: 1;
                justify-self: flex-end;
                margin: 1rem;
        }

        .cta{
                display: flex;
                grid-row: 1;
                grid-column: 3/4;
                align-self: center;
                justify-self: center;
        }

        .cta a{
                text-decoration: none;
                color: white;
        }

        .hero-label{
                position: absolute;
                top: 230px;
                left: 48px;
                background-color: #f6feff88;
                color: #14213d;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 2rem;
                border-radius: 10px;
              }

        .hero-label a {
                background-color: #14213d;
                color: #f0dda8;
                border: 0;
                padding: 0.7rem 2rem;
                text-decoration: none;
                width: fit-content;
                display:block;
              }

        .event-label {
                position: absolute;
                top: 800px;
                left: 48px;
                color: #14213d;
                background-color: rgb(233, 196, 106, 0.7);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                border-radius: 10px;
            
              }

        .div-weather{
                margin: 0 auto;
        }

        .VOFTM{
                display: flex;
                justify-content: center;
                align-items: center;
        }
        
        iframe{
                height: auto;
                width: 95%;
                border-radius: 20px;
                margin-bottom: 18px;

                display: flex;
                justify-content: center;
                align-items: center;
        }

        form{
                grid-column: 1;
                margin:20px;
                background-color: #264653;
                padding: 20px;
                border-radius: 15px;
                color: #fff;
              
              }
              
              #btnSubmit{
                background-color: #e9c46a;
                color: #264653;
                font-weight: bold;
              }
              
              .membership{
                align-self: center;
              }
              
              .np, .bronze, .silver, .gold {
                margin:20px;
                background-color: #e9c46a;
                padding: 20px;
                border-radius: 15px;
                color: #264653;
              
              }
              
              .flag {
                width: 6%;
              }
              .logo {
                width: 6%;
              }

}



